{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Foodrunner Info</h1>
  <p class="text-warning">
    <ul>
      <li> Burritos with Guacomole, for Tim Hickey, from Kuritos, to Volen 138. Order placed at 3:10pm. <button>I'll deliver this!!</button>
      </li>
      <li> Frijoles con queso with Guacomole, for Tim Hickey, from Kuritos, to Volen 138. Order placed at 3:10pm. <button>I'll deliver this!!</button>
      </li>
    </ul>
  </p>
</div>
<div>

</div>

{% endblock %}
