{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Brandeis Eats is Lit!</h1>
  <p class="text-warning">
    BrandeisEats is the best way to get
    good food fast at Brandeis 24/7
  </p>
</div>
<div class="text-center">
  <h1>We are here to provide you with Brandeis food services and delivery right to your dorms.</h1>

  <hr>
  <img class = "img-circle"
       src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/23559921_520692578329277_7899107402832664286_n.jpg?oh=aad4a1b272ae5bff2b8937c8982b5e75&oe=5A62519A" width= "500"
       alt="Tim Hickey from Apr 2008">
</div>

{% endblock %}
