{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Place Your Order Here!</h1>
  <p class="text-warning">

  </p>
</div>
<form method="POST" action="processOrder">
<div>
  Place order from:
  <br>
  <input type="radio" name="location" value="Peets"> Peets <br>
  <input type="radio" name="location" value="C-store"> C Store <br>
  <input type="radio" name="location" value="Usdan-dining-hall"> Usdan Dining Hall <br>
  <input type="radio" name="location" value="Curritos"> Curritos <br>
  <input type="radio" name="location" value="Sushi"> Sushi <br>
  <input type="radio" name="location" value="Sub Connect"> Sub Connect <br>
  <input type="radio" name="location" value="Louis Deli"> Louis Deli <br>
  <input type="radio" name="location" value="Dunkin Donuts"> Dunkin Donuts <br>
  <input type="radio" name="location" value="Starbucks"> Starbucks Farber Library<br>
  <input type="radio" name="location" value="Sherman"> Sherman <br>
  <input type="radio" name="location" value="The Stein"> The Stein <br>
  <input type="radio" name="location" value="Einstein Bros"> Einstein Bros Bagels <br>

  <br>
  <br>
  What to pick up?

  <br>
  Be as specific as possible, include the size and amounts of everything you order.
  <br>
  <textarea name="what" rows="10" cols="80"></textarea>

  <br>
  Please enter your phone number<br>
  <input type="text" width="50" name="Phone number" id="phoneNumber">
  <br>


  <br>
  Where to deliver? (We only deliver on campus)<br>
  <input type="text" width="50" name="destination" id="destination">
  <br>

     <fieldset>
       <p>
         <label>Add extra Information for runner:</label>
         <textarea name="extra"> </textarea>
       </p>
     </fieldset>

  <input type="submit" value="Checkout">

</form>






</div>

{% endblock %}
