{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Place Your Order!</h1>
  <p class="text-warning">

  </p>
</div>
<div>
  Place order from:
  <br>
  <input type="radio" name="location" value="Peets"> Peets <br>
  <input type="radio" name="location" value="C-store"> C Store <br>
  <input type="radio" name="location" value="Usdan-dining-hall"> Usdan Dining Hall <br>
  <input type="radio" name="location" value="Curritos"> Curritos <br>
  <input type="radio" name="location" value="Sub Connect"> Sub Connect <br>
  <input type="radio" name="location" value="Louis Deli"> Louis Deli <br>
  <input type="radio" name="location" value="Dunkin Donuts"> Dunkin Donuts <br>
  <input type="radio" name="location" value="Starbucks"> Starbucks Farber Library<br>
  <input type="radio" name="location" value="Sherman"> Sherman <br>
  <input type="radio" name="location" value="The Stein"> The Stein <br>
  <input type="radio" name="location" value="Einstein Bros"> Einstein Bros Bagels <br>


  <br>
  <br>
  What to pick up?
  <input type="text" width="50" id="order">
  <br>
  What size?
  <input type="text" width="50" id="order">
  <br>
  Where to deliver?
  <input type="text" width="50" id="location">
  <br>
  <form>
     <fieldset>
       <p>
         <label>Add extra Information for runner:</label>
         <textarea> </textarea>
       </p>
     </fieldset>
   </form>
  <input type="submit" value="Checkout">







</div>

{% endblock %}
