{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Team Members</h1>
  <p class="text-warning">
    Meet our great team!

  </p>
  
</div>

<div class="text-center">
  <h1>We are here to provide you with Brandeis food services and delivery right to your dorms</h1>

  <hr>
  <img class = "img-square"
       src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/14670589_302426076822596_2515080637148508648_n.jpg?oh=7307e830cee69f3dae73f91accae5d7f&oe=5A9BAFA2"
       alt="Venus ">

  <img class = "img-square"
       scr= "https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/20431606_1017268388414774_7298255624818120447_n.jpg?oh=3d8bdb276262d6fb068eb5ca9ea44505&oe=5A62FB31"
       alt="Allison">

  <img class = "img-square"
       scr=""
       alt="Cesear">
</div>


</div>

{% endblock %}
