{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Team Members</h1>
  <p class="text-warning">
    Meet our great team!

  </p>

</div>

<div class="text-center">
  <h1>We are here to provide you with Brandeis food services and delivery right to your dorms</h1>

  <hr>
  <img class = "img-circle"
       src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/14670589_302426076822596_2515080637148508648_n.jpg?oh=7307e830cee69f3dae73f91accae5d7f&oe=5A9BAFA2" width="150">
    Venus(CEO), Brandeis University 2021
  <hr>
  <img class = "img-circle"
       src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/17991189_938139962994284_7395781469784497308_n.jpg?oh=8615de569ae7b3bd154c36b6bfe35872&oe=5AA711BC" width="200">
    Allison(Brand Embassedor), Brandeis University 2021
  <hr>
  <img class = "img-circle"
       src="https://pbs.twimg.com/profile_images/925726655523385344/fDCkJQ72_400x400.jpg" width="200">
    Cesar(Software Developer), Brandeis University 2021
</div>


</div>

{% endblock %}
